$font-size: 1em;
$font-col: #333;
$head-col: $font-col;
$bg-col: #fff;
$l-height: 1.5; // Default line height
$theme-col: #42b983;
$mediaquerys: (
  phablet: '(min-width: 640px)',
  desktop: '(min-width: 1024px)',
);

// map-get($mediaquerys, desktop)
